#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*  */
div {
  color: yellow;
}

.span {
  color: green !important;
}

#Content1 {
  color: blue;
}

.Content2 {
  color: red;
}
/*  */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #4e4848;
  border-radius: 4px;
  width: 400px;
}

.display {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  text-align: start;
  padding: 1rem;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  margin: 0;
  overflow-y: hidden;
}

.display h3 {
  margin: 0;
  line-height: 2.2em;
  height: 2.2em;
}

.display h6 {
  margin: 0;
  font-size: 0.5em;
  font-weight: 300;
  line-height: 1em;
  color: salmon;
  height: 1em;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;

  width: 100%;

  padding: 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  margin-bottom: 1rem;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
